*{
    box-sizing: border-box;
    font-family: 'Ubuntu Mono', monospace;
}       
body{
    padding: 0% 15%;
    color: rgb(63, 7, 63);
} 
a:link{
    text-decoration: none!important;
  }
  a{
    color: rgb(63, 7, 63) !important;
  }
 /* Style the counter cards */
 .card {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    background-color: #fff;
    padding: 3%;
  }
  .profileImage{
      padding: 3%;
      display: flex;
      justify-content: center;
  }

  .profileImage img{
      max-width: 70%;
      border-radius: 40%;
  }

  .head{
      padding: 15px;
      background-color: rgb(63, 7, 63);
      color: #fff;
  }
  hr{
    background-color: rgb(63, 7, 63);
      padding: 3px;
      margin: 0px;
  }
  .info hr{
    background-color: rgb(63, 7, 63);
    padding: 1px;
  }

   ul li{
    list-style-type: square;
  }
  .skill{
      background-color: rgb(243, 183, 243);
      border-radius: 10%;
  }
 
  .radio-icon{
    background-color: rgb(63, 7, 63);
  }


[class*="col-"]{
    float:left;            
}
.row:after {
    content: "";
    display: table;
    clear: both;
  }
/* 
@media only screen and (min-width:600px) {           
.col-s-1 {width: 8.33%;}
.col-s-2 {width: 16.66%;}
.col-s-3 {width: 25%;}
.col-s-4 {width: 33.33%;}
.col-s-5 {width: 41.66%;}
.col-s-6 {width: 50%;}
.col-s-7 {width: 58.33%;}
.col-s-8 {width: 66.66%;}
.col-s-9 {width: 75%;}
.col-s-10 {width: 83.33%;}
.col-s-11 {width: 91.66%;}
.col-s-12 {width: 100%;}           

}

@media only screen and (min-width:768px){         
    
.footer{
    display: block;
}  
.col-1 {width: 8.33%;}
.col-2 {width: 16.66%;}
.col-3 {width: 25%;}
.col-4 {width: 33.33%;}
.col-5 {width: 41.66%;}
.col-6 {width: 50%;}
.col-7 {width: 58.33%;}
.col-8 {width: 66.66%;}
.col-9 {width: 75%;}
.col-10 {width: 83.33%;}
.col-11 {width: 91.66%;}
.col-12 {width: 100%;}
}

@media only screen and (orientation: landscape) {
    body{
        background-color: rgb(205, 209, 211);
    }
    
} */
